html {
    height: 100%;
}

body {
    color: #fff;
    background-color: #100e1d;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

section {
    padding: 11px;
    /* width: 100%;
    height: 100vh; */
}

.button__search {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
    border-radius: .125rem;
    background-color: rgba(136,134,157,1);;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #E7E7EB;

}
ul {
    padding: 0;
}
.weather__list {
    list-style: none;
}
.list__item {
    background-color: #1e213a;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.weather__list a {
    color: inherit;
    text-decoration: none;
}
.weather__details > div {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #1e213a;
}
.weather__details > div > div {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
}
.details__heading {
    align-items: center;
}
.humidity__percentage {
    display: flex;
    justify-content: space-between;
}
.humidity__progress {
    width: 100%;
}
.display--none {
    display: none;
}
.form__container {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1e213a;
}
.form__close {
    padding: 42px 46px;
    width: 480px;
    transform: translateX(-110%);
    transition: transform 0.3s;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
}
.form__close > div, .form__open > div {
    padding: 42px 46px;
}
.form__open {
    width: 480px;
    transform: translateX(0);
    box-shadow: 0 0 50px rgba(0,0,0,.5);
}
@media (min-width: 997px) {
    
    .root {
        height: 100%;
        display: flex;
    }
    .sidebar {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 40%;
        padding-top: 42px;
        overflow: auto;
        background-color: #1e213a;
        /* padding-bottom: 300px; */
    }
    
    .content {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 70%;
        /* overflow: auto; */
    }
    .sidebar > div {
        padding: 42px 46px;
        padding-top: 0px;
        width: auto;
        height: 100%;
    }
    .content {
        padding-top: 42px;
        padding-bottom: 154px;
        padding-left: 154px;
        padding-right: 123px;
    }
    .weather__list {
        display: grid;
        grid-template-columns: repeat(5,minmax(0,1fr));
        grid-gap: 1rem;
        gap: 1rem;
    }
    .weather__details {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-gap: 1rem;
        gap: 1rem;
    }
}