html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway,sans-serif;
    height: 100vh;
    color: #fff;
    background-color: #100e1d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.sidebar {
    width: 100%;
    position: relative;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1e213a;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.navbar::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 100%;
    opacity: .05;
    z-index: 0;
    background: url(https://cosme-gressier-weather-app.netlify.app/img/Cloud-background.11452cab.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
}
.navbar > div:first-of-type {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.today--weather {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.temperature {
    font-style: normal;
    color: #E7E7EB;
}

.navbar img {
    width: 160px;
    max-width: 160px;
}

.navbar > div:last-of-type {
    padding-bottom: 2rem;
}

.temperature {
    font-size: 6rem;
    line-height: 1;
}
.temperature > span {
    font-style: normal;
    font-size: 36px;
    text-align: center;
    color: #A09FB1;

}

.weather--name {
    font-style: normal;
    text-align: center;
    color: #A09FB1;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 1rem;
}
.date--today {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #88869D;

}
.location {
    padding-top: 1rem;
}
.location__title {
    margin-left: .5rem;
    color: #88869D;
}

.button__search {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
    border-radius: .125rem;
    background-color: rgba(136,134,157,1);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #E7E7EB;

}

.button__location {
    padding: .5rem;
    background-color: rgba(136,134,157,1);
    cursor: pointer;
    border: 0;
    border-radius: 9999px;
    outline: none;
}

.button__location > svg {
    width: 25px;
    filter: brightness(1) invert(1);
}
ul {
    padding: 0;
}
.weather__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.list__item {
    background-color: #1e213a;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.weather__list a {
    color: inherit;
    text-decoration: none;
}
.weather__details > div {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #1e213a;
}
.weather__details > div > div {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
}
.details__heading {
    align-items: center;
}
.humidity__percentage {
    display: flex;
    justify-content: space-between;
}
.humidity__progress {
    width: 100%;
}
.display--none {
    display: none;
}
.form__container {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1e213a;
}
.form__close {
    padding: 42px 46px;
    width: 480px;
    transform: translateX(-110%);
    transition: transform 0.3s;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
}
.form__close > div, .form__open > div {
    padding: 42px 46px;
}
.form__open {
    width: 480px;
    transform: translateX(0);
    box-shadow: 0 0 50px rgba(0,0,0,.5);
}

@media (min-width: 1024px) {
    
    .root {
        /* height: 100%; */
        display: flex;
    }
    .sidebar {
        display: inline-block;
        vertical-align: top;
        width: 25%;
        height: 100vh;
        padding-top: 42px;
        /* overflow: auto; */
        position: fixed;
        background-color: #1e213a;
        
        /* padding-bottom: 300px; */
    }

    .temperature {
        font-size: 6rem;
        line-height: 1;
    }

    .sidebar > div {
        max-width: 202px;
        margin: auto;
    }

    .sidebar img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
        vertical-align: middle;
    }
    
    .content {
        /* position: relative; */
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 70%;
        /* overflow: auto; */
    }
    .sidebar > div {
        /* padding: 42px 46px; */
        padding-top: 0px;
        width: auto;
        /* height: 100%; */
    }

    .content {
        padding-top: 42px;
        padding-bottom: 154px;
        padding-left: 154px;
        padding-right: 123px;
        overflow: auto;
        width: 75%;
        height: 100vh;
        left: 25%;
        position: absolute;
    }
    .weather__list {
        display: grid;
        grid-template-columns: repeat(5,minmax(0,1fr));
        grid-gap: 1rem;
        gap: 1rem;
    }
    .weather__details {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-gap: 1rem;
        gap: 1rem;
    }
}